@model IEnumerable<MVCBlog.Core.Entities.TipoProducto>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Edit", "TipoProductoes", new { id = item.Id })'">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Editar
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Details", "TipoProductoes", new { id = item.Id })'">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Detalles
                </button>
                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "TipoProductoes", new { id = item.Id })'">
                    <i class="glyphicon glyphicon-remove"></i>
                    Eliminar
                </button>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
