@model MVCBlog.Core.Entities.Pedido

@if (Model != null && Model.ProductosPedidos.Any())
{
    <table class="table table-condensed table-hover" id="discountTable">
        <thead>
        <th style="max-width:90px; text-align:left;">Descr.</th>
        <th style="text-align:center; min-width:70px">Cant.</th>
        <th style="text-align:center">Sub Total</th>
        <th style="width: 20px; text-align:right">
            <a class="btn btn-sm" onclick="removePedido(this)" data-id="@Model.UsuarioId" data-toggle="tooltip" title="Eliminar Pedido">
                <i class="glyphicon glyphicon-remove" style="color:red"></i>
            </a>
        </th>
        </thead>
        <tbody>

            @foreach (var p in Model.ProductosPedidos.OrderBy(_ => _.Producto.Description))
            {
                var presentacion = p.Producto.Unidad == MVCBlog.Core.Entities.Presentacion.Peso ? "Kg" : "U.";

                <tr class="tableProducts">
                    <td>@p.Producto.Description.Trim()</td>
                    <td>@p.Cantidad @presentacion</td>
                    <td style="text-align:right">$@p.TotalParcial</td>
                    <td>
                        <a class="btn btn-sm" onclick="removeProduct(this)" data-id="@p.Id" data-toggle="tooltip" title="Eliminar Producto">
                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <table class="table total">
            <tbody>
                <tr>
                    <td class="text-right"><h5><strong>TOTAL $</strong><strong id="total_carrito"> @Model.TotalCharge</strong></h5></td>
                </tr>
            </tbody>
        </table>
        <a class="btn pull-right btn-black" id="btnVerDetalle" data-loading-text="Armando Pedido" onclick="location.href='@Url.Action("TerminarPedido", "CarritoCompras",new { idPedido = Model.Id})'">
            <i class="glyphicon glyphicon-list"></i> Ver detalle
        </a>
        <div style="clear:both"></div>
    </div>
}

<script>
    $("#btnVerDetalle").click(() => {
        $("#btnVerDetalle").button("loading");
    })

    function removeProduct(elem) {
        var idProdPed = $(elem).attr('data-id');
        $.ajax({
            type: "POST",
            url: "/CarritoCompras/RemoveProduct",
            data: '{idProdPed: "' + idProdPed + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $('#carritoPartialView').html(result);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function removePedido(elem) {
        var idUser = $(elem).attr('data-id');
        $.ajax({
            type: "POST",
            url: "/CarritoCompras/RemovePedido",
            data: '{idUser: "' + idUser + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $('#carritoPartialView').html(result);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>



<style>
    .tableProducts [class*="col-"] {
        padding: 0;
    }
</style>
