@model MVCBlog.Core.Entities.Pedido


<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div class="form-group col-md-12 borde">
        <div class="col-md-4 form-group">
            <dd>
                <strong>Nombre: </strong>
                @Html.DisplayFor(model => model.Usuario.FullName)
            </dd>
            <br />
            <dd>
                <strong>Dirección: </strong>
                @Html.DisplayFor(model => model.Usuario.Address)
            </dd>
            <br />
            <dd>
                <strong>Telefono: </strong>
                @Html.DisplayFor(model => model.Usuario.PhoneNumber)
                <div style="float:right; margin-right:20px;">
                    <button class="btn btn-default" onclick="EditarUsuario();">
                        <span class="glyphicon glyphicon-edit btn-xs"></span>
                        Editar
                    </button>
                </div>
            </dd>
        </div>

        <div class="col-md-4">
            <div>
                <div style="margin-left:15px;">
                    <strong>Forma de Pago</strong>
                    @Html.EnumDropDownListFor(modelItem => Model.FormaDePago, htmlAttributes: new { @class = "form-control colEstado", @id = "inputFormaPago" })
                    @Html.ValidationMessageFor(modelItem => Model.FormaDePago, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="col-md-6">
                        <strong>Hora de entrega</strong>
                        @Html.EditorFor(modelItem => Model.HoraEntrega, new { htmlAttributes = new { @class = "form-control colDescr", @id = "inputHoraentrega" } })
                    </div>
                    <div class="col-md-6 checkbox">
                        <label style="margin-top:10px;"><input type="checkbox" value="" id="loAntesPosible" checked>Lo antes posible</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <strong>Comentarios</strong>
            @Html.TextAreaFor(modelItem => Model.Comentario, new { @class = "form-control", rows = "4", @id = "inputComentario" })
        </div>
    </div>

    <table class="table col-md-12">
        <tr>
            <th style="width:15px;">
            </th>
            <th style="width:15px;">
            </th>
            <th>
                <label>Producto</label>
            </th>
            <th>
                <label>Precio</label>
            </th>
            <th>
                <label>Cantidad</label>
            </th>
            <th>
                <label>Subtotal</label>
            </th>
        </tr>

        @foreach (var item in Model.ProductosPedidos)
        {
            <tr class="rowPrdos" id-prod="@item.Id">
                <td>
                    <a class="btn btn-sm" onclick="editarProducto(this)" data-id="@item.Id" data-toggle="tooltip" title="Editar Producto">
                        <i class="glyphicon glyphicon-edit" style="color:blue"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-sm" onclick="removeProduct(this)" data-id="@item.Id" data-toggle="tooltip" title="Borrar Producto">
                        <i class="glyphicon glyphicon-remove" style="color:red"></i>
                    </a>
                </td>
                <td>
                    <span>
                        @item.Producto.Description
                    </span>
                </td>
                <td>
                    <span>
                        $ @item.Producto.PrecioActual
                    </span>
                </td>
                <td>
                    <span>
                        @item.Cantidad
                    </span>
                </td>
                <td>
                    <span>
                        $ @item.TotalParcial
                    </span>
                </td>
            </tr>
        }
    </table>

    <div style="float:right">
        <label style="font-size:28px;">Total: $ @Model.TotalCharge</label>
    </div>

    <div class="col-md-12">
        <div style="float:left">
            <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Blog")'">Seguir Comprando</button>
            <button id="btnSave" class="btn btn-info" style="margin-left:15px;" data-loading-text="Terminando Pedido" onclick="TerminarPedido();">
                Terminar Pedido
                <span class="glyphicon glyphicon-ok" style="color:forestgreen"></span>
            </button>
        </div>
    </div>

</body>
</html>


<div class="modal fade" id="modalFinalizarPedido" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Pedido</h3>
            </div>
            <div class="panel-body panelPrePredido" style="; display:block;">
                <div class="form-inline col-md-12">
                    <div class="form-group col-md-6">
                        <label>Nombre: &nbsp</label><span>
                            @Html.DisplayFor(model => model.Usuario.FullName)
                        </span>
                        <label>Dirección: &nbsp</label><span>
                            @Html.DisplayFor(model => model.Usuario.Address)
                        </span>
                        <label>Telefono: &nbsp</label><span>
                            @Html.DisplayFor(model => model.Usuario.PhoneNumber)
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Forma de Pago: &nbsp</label><span id="txtFormPago"></span>
                        <label>Hora de entrega: &nbsp</label><span id="txtHoraEntrega"></span>
                    </div>
                </div>

                <label>Comentarios: &nbsp</label><span id="txtComentario"></span>
                <hr />
                <table id="tablaProductos" class="table">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Total PArcial</th>
                    </tr>
                </table>
                <label style="font-size:20px; float:right">Total: $ <strong id="txtTotal">@Model.TotalCharge</strong></label>
            </div>

            <div class="panel-body panelPostPredido" style="display:none; text-align:center;">
                <h1 style="color:red">COMPRA TERMINADA</h1>
                <br />
                <h3>Gracias por confiar en nosotros</h3>
                <br />
                <h4>Te enviaremos un mensaje para confirmar el pedido.</h4>
            </div>

            <div class="modal-footer">
                <div class="panelPrePredido">
                    <button id="btnTerminar" class="btn btn-success" style="margin-left:15px; display:block; float:right;" data-loading-text="Finalizando Pedido" onclick="FinalizarPedido();">
                        Confirmar Pedido
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" style="float:left;" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
                <div class="panel-body panelPostPredido" style="display:none; text-align:center;">
                    <button type="button" style="float:left;" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Manage")'" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalEditarUsuario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Editar Datos Personales</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-bottom:10px">
                        @Html.EditorFor(model => model.Usuario.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @id = "newPhone" } })
                        @Html.ValidationMessageFor(model => model.Usuario.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-bottom:10px">
                        @Html.EditorFor(model => model.Usuario.Address, new { htmlAttributes = new { @class = "form-control", @id = "newAddress" } })
                        @Html.ValidationMessageFor(model => model.Usuario.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnAddProd" onclick="btnActualizarUsuario();">Actualizar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function EditarUsuario() {
        $("#modalEditarUsuario").modal("show");
    }

    function btnActualizarUsuario() {

        var newPhone = $("#newPhone").val();
        var newAddress = $("#newAddress").val();

        let usuario = {
            idUser : "@Model.Usuario.Id",
            newPhone,
            newAddress,
        };

        $.ajax({
            type: "POST",
            url: "/Manage/Edit",
            data: JSON.stringify(usuario),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                window.location.reload();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function TerminarPedido() {
        $("#btnSave").button("loading");

        $("#modalFinalizarPedido").modal("show");

        var formPago = $("#inputFormaPago option:selected").text();
        var horaEntrega = $("#inputHoraentrega").val();
        if ($("#loAntesPosible").is(":checked")) {
            horaEntrega = "Lo antes posible";
        }
        var comentario = $("#inputComentario").val();

        $('#txtFormPago').text(formPago);
        $('#txtHoraEntrega').text(horaEntrega);
        $('#txtComentario').text(comentario);

        $("#tablaProductos td").remove();

        $(".rowPrdos").each(function (index) {
            var description = $(this).children("td").eq(2).find('span').text();
            var precio = $(this).children("td").eq(3).find('span').text();
            var cant = $(this).children("td").eq(4).find('span').text();
            var totParcial = $(this).children("td").eq(5).find('span').text();

            $("#tablaProductos").append('<tr><td>' + description + '</td><td>' + cant + '</td><td> ' + totParcial + '</td></tr>');
        })

        $("#btnSave").button("reset");
    }

    function FinalizarPedido() {
        $("#btnTerminar").button("loading");

        let pedProd = {
            idPedido : "@Model.Id",
            FormaPago: $("#txtFormPago").text(),
            HoraEntrega: $("#txtHoraEntrega").text(),
            Comentario : $("#txtComentario").text()
        };

        $.ajax({
            type: "POST",
            url: "/CarritoCompras/FinalizarPedido",
            data: JSON.stringify(pedProd),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                document.querySelectorAll(".panelPrePredido").forEach(function (element, index, array) {
                    element.style.display = "none";
                });

                document.querySelectorAll(".panelPostPredido").forEach(function (element, index, array) {
                    element.style.removeProperty("display");
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>

<style>
    .borde {
        border: 1px solid #e0e0e0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 15px;
        padding-top: 15px;
    }
</style>