@model IQueryable<MVCBlog.Core.Entities.Producto>


<table class="table col-md-12">
    <tr>
        <th>
            Descripcion
        </th>
        <th>
            Tipo de Producto
        </th>
        <th>
            Estado
        </th>
        <th>
            Presentacion
        </th>
        <th>
            PrecioActual
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProducto.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.PrecioActual)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Edit", "Productoes", new { id = item.Id })'">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Editar
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Details", "Productoes", new { id = item.Id })'">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Detalles
                </button>
                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Productoes", new { id = item.Id })'">
                    <i class="glyphicon glyphicon-remove"></i>
                    Eliminar
                </button>
            </td>
        </tr>
    }

</table>
