@model MVCBlog.Website.Models.IndexViewModel

<h3>@Model.User.FullName</h3>
<div>
    <br />
    <div class="col-md-5" style="padding: 15px; border: 1px solid #e0e0e0;        border-radius: 5px;">
        <dd>
            <strong>Dirección: </strong>
            @Model.User.Address
            <div style="float: right; margin-right: 20px; ">
                <button class="btn btn-default" onclick="EditarUsuario();">
                    <span class="glyphicon glyphicon-edit btn-xs"></span>
                    Editar
                </button>
            </div>
        </dd>
        <br />
        <dd>
            <strong>Telefono: </strong>
            @Model.User.PhoneNumber

        </dd>
        <br />
        <dd>
            <strong>Email: </strong>
            @Model.User.Email

        </dd>
        <br />
        <dd>
            <strong>Contraseña: </strong>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(@Common.ChangePassword, MVC.Manage.ChangePassword())
            }
            else
            {
                @Html.ActionLink(@Common.Create, MVC.Manage.SetPassword())
            }
            ]
        </dd>
    </div>

    <div class="col-md-offset-1 col-md-6 ">
        <h3>Pedidos</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>
                    Creado
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Total
                </th>
            </tr>

            @foreach (var item in Model.Pedidos.OrderByDescending(_ => _.Created))
            {
                if (item.Estado != MVCBlog.Core.Entities.EstadoPedido.Terminado)
                {
                }
                else
                {
                }
                <tr>

                    <td>
                        <a data-toggle="tooltip" data-placement="left" title="Ver Pedido" href='@Url.Action("Details", "Pedidoes",new { id = item.Id})'>
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @if (item.Estado == MVCBlog.Core.Entities.EstadoPedido.Creado)
                        {
                            <span style="font-size:15px;" class="label label-primary">@item.Estado</span>
                        }
                        else if (item.Estado == MVCBlog.Core.Entities.EstadoPedido.Pendiente)
                        {
                            <span style="font-size:15px;" class="label label-warning">@item.Estado</span>
                        }
                        else if (item.Estado == MVCBlog.Core.Entities.EstadoPedido.Terminado)
                        {
                            <span style="font-size:15px;" class="label label-success">@item.Estado</span>
                        }
                        else if (item.Estado == MVCBlog.Core.Entities.EstadoPedido.Cancelado)
                        {
                            <span style="font-size:14px;" class="label label-danger">@item.Estado</span>
                        }
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.TotalCharge)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<div class="modal fade" id="modalEditarUsuario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Editar Datos Personales</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.User.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-bottom:10px">
                        @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @id = "newPhone" } })
                        @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-bottom:10px">
                        @Html.EditorFor(model => model.User.Address, new { htmlAttributes = new { @class = "form-control", @id = "newAddress" } })
                        @Html.ValidationMessageFor(model => model.User.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", @id = "newEmail" } })
                        @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnAddProd" onclick="btnActualizarUsuario();">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function EditarUsuario() {

        $("#modalEditarUsuario").modal("show");
    }

    function btnActualizarUsuario() {

        var newPhone = $("#newPhone").val();
        var newAddress = $("#newAddress").val();
        var newEmail = $("#newEmail").val();

        let usuario = {
            idUser : "@Model.User.Id",
            newPhone,
            newAddress,
            newEmail
        };

        $.ajax({
            type: "POST",
            url: "/Manage/Edit",
            data: JSON.stringify(usuario),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                window.location.reload();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>