@model MVCBlog.Core.Entities.Pedido

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>


    <div class="form-group col-md-12 borde">
        <div class="col-md-4 form-group">
            <dd>
                <strong>Nombre: </strong>
                @Html.DisplayFor(model => model.Usuario.FullName)
            </dd>
            <br />
            <dd>
                <strong>Dirección: </strong>
                @Html.DisplayFor(model => model.Usuario.Address)
            </dd>
            <br />
            <dd>
                <strong>Telefono: </strong>
                @Html.DisplayFor(model => model.Usuario.PhoneNumber)
            </dd>
        </div>

        <div class="col-md-4">
            <div>
                <div>
                    <strong>Forma de Pago</strong>
                    @Html.DisplayFor(model => model.FormaDePago)
                </div>
                <br />
                <div>
                    <strong>Hora de entrega</strong>
                    @Html.DisplayFor(model => model.HoraEntrega)
                </div>
                <br />
                <div>
                    <strong>Estado</strong>
                    @Html.DisplayFor(model => model.Estado)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Comentarios</strong>
            @Html.DisplayFor(model => model.Comentario)
        </div>
    </div>

    <table class="table col-md-12">
        <tr>
            <th>
                <label>Producto</label>
            </th>
            <th>
                <label>Precio</label>
            </th>
            <th>
                <label>Cantidad</label>
            </th>
            <th>
                <label>Subtotal</label>
            </th>
        </tr>

        @foreach (var item in Model.ProductosPedidos)
        {
            <tr class="rowPrdos" id-prod="@item.Id">
                <td>
                    <span>
                        @item.Producto.Description
                    </span>
                </td>
                <td>
                    <span>
                        $ @item.Producto.PrecioActual
                    </span>
                </td>
                <td>
                    <span>
                        @item.Cantidad
                    </span>
                </td>
                <td>
                    <span>
                        $ @item.TotalParcial
                    </span>
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12">
        <div style="float:right">
            <label style="font-size:20px;">Total: $ @Model.TotalCharge</label>
        </div>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
